{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}

{% block body %}
	<div class="main">
		<div class=" container">
			{% for message in app.flashes('message') %}
				<div class="">
					<div class="">{{message}}</div>
				</div>

			{% endfor %}
			<div class="">
				<h1>Profil de
					{{ app.user.firstname }}
					{{ app.user.lastname }}</h1>
			</div>
			<div class="tab-body">
				<div class="row">Nom : {{ app.user.lastname }}</div>
				<div class="row">Prénom : {{ app.user.firstname }}</div>
				<div class="row">Email : {{ app.user.email }}</div>
				<div class="row">
					<a href="{{ path('users_profil_modifier')}}" class="btnProfil">Modifier le profil</a>
					<a href="{{ path('users_pass_modifier')}}" class="btnPass">Modifier le mot de passe</a>
				</div>
				<div class="row"><a href="{{ path('app_logout')}}">Se deconnecter</a></div>
				{# <div class="row"><a href="{{ path('user_delete', {'id': user.id})}}">Supprimer mon compte</a></div> #}
				
				
			</div>
		</div>
	</div>
{% endblock %}
