{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	: Acceuil
{% endblock %}
{% block body %}

	<div class="wrap">

		<h1>Bienvenue sur
			{{ controller_name }}</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem error hic sed magnam voluptates. Quam, incidunt quia ab expedita excepturi sint repudiandae unde qui possimus mollitia, consequuntur totam. Repudiandae minus a magni quibusdam quod ipsam dicta maiores dolore, consequuntur, ut quaerat commodi eos vero adipisci deleniti vitae?
		</p>
		<hr>
		<h2>Nos derniers produits en stock</h2>

		<div class="showcase d-flex">
			{% for p in product %}
				<a class="itemHome" href="{{ path('products_details', {'slug': p.slug}) }}">

					<h3>{{ p.name }}</h3>
					{% set x = 0 %}
					{% for i in p.images %}
						{% if x <= 0 %}
							<div class="itemPic">
								<img src="{{ asset('/uploads/' ~ i.name) }}" alt="Photo de l'article">
							</div>
						{% else %}
							<div class="itemPic d-none">
								<img src="{{ asset('/uploads/' ~ i.name) }}" alt="Photo de l'article">
							</div>
						{% endif %}
						{% set x = x + 1 %}
					{% endfor %}
				</a>
			{% endfor %}
		</div>

		<a class="linkHome" href="{{ path('products_index') }}">Voir les stock !
		</a>

	</div>
{% endblock %}
