{{ form_start(form) }}
{{ form_widget(form) }}

{% if app.request.attributes.get('_route') == 'app_product_edit' %}
	<h2>Images</h2>
	{% for i in product.images %}
		<div>
			<img src="{{ asset('/upload/' ~ i.name) }}" alt="Image" width="15rem">
			<a href="{{ path('app_product_image_delete', {id: i.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ i.id) }}">Supprimer</a>
		</div>
	{% endfor %}
{% endif %}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
