{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	: Détails de
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="wrap">
		<div class="detail">

			<h1>Détails de
				{{ product.name }}
			</h1>
			<p>
				Stock :
				{{ product.stock }}
				- Reference :
				{{ product.reference }}
			</p>

			<div class="d-flex carou">
				<div id="prev">
					<p>&#10094;</p>
				</div>
				{% set x = 0 %}
				{% for i in product.images %}
					{% if x <= 0 %}
						<div class="detailPic">
							<img src="{{ asset('/uploads/' ~ i.name) }}" alt="{{ product.name }}">
						</div>
					{% else %}
						<div class="detailPic d-none">
							<img src="{{ asset('/uploads/' ~ i.name) }}" alt="{{ product.name }}">
						</div>
					{% endif %}
					{% set x = x + 1 %}
				{% endfor %}
				<div id="next">
					<p>&#10095;</p>
				</div>
			</div>

			<p>
				{{ product.description }}
			</p>
			<a href="{{ path('products_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/details.js') }}"></script>
{% endblock %}
