{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	: Liste des produits
{% endblock %}
{% block body %}
	<div class="wrap">
		<h1>Liste des produits</h1>
		<hr>
		<div class="showcase d-flex">
			{% for p in product %}
				<div class="item">
					<a class="linkProduct" href="{{ path('products_details', {'slug': p.slug}) }}">

						<h3>{{ p.name }}</h3>
						{% set x = 0 %}
						{% for i in p.images %}
							{% if x <= 0 %}
								<div class="itemPic">
									<img src="{{ asset('/uploads/' ~ i.name) }}" alt="Photo de l'article">
								</div>
							{% else %}
								<div class="itemPic d-none">
									<img src="{{ asset('/uploads/' ~ i.name) }}" alt="Photo de l'article">
								</div>
							{% endif %}
							{% set x = x + 1 %}
						{% endfor %}
					</a>
					<p>
						{% set splitDescription = p.description|split('.', 2) %}
						{{ attribute(splitDescription, 0) }}...
					</p>
				</p>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
