<header>
	<nav class="d-flex" id="navbar">
		<div>
			<ul>
				<li><ahref="{{path('acceuil_index')}}"><img class="img"src="{{ asset('images/logo.jpg')}}" alt="logo"></a></li>
			</ul>
		</div>
		<div class="d-flex, headercol">
		<div id="iconlist">
			<ul class="d-flex">
				<li>
					<a class="link" href="{{ path('acceuil_index') }}">
						<div class="icon">
							<img class="marg" src="{{ asset('images/home.png')}}" alt="accueil">
							<div>
								Accueil
							</div>
						</div>
					</a>
				</li>
				<li>
					<a class="link" href="{{ path('register_index') }}">
						<div class="icon">
							<img class="marg" src="{{ asset('images/users.png')}}" alt="profil">
							<div>
								Profil
							</div>
						</div>
					</a>
				</li>
				<li>
					<a class="link" href="">
						<div class="icon">
							<img class="marg" src="{{ asset('images/cart.png')}}" alt="panier">
							<div>
								Panier
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="articleSearch">
			<a class="link" href="{{ path('products_index') }}">
						<div class="gostock">
							
							<button class="listArticle"> voir la liste des articles </button>
							
						</div>
					</a>
		{{ render(controller(
        'App\\Controller\\SearchController::searchBar'
 )) }}
		</div>
		</div>
	</nav>
</header>
